 @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&family=Ubuntu&display=swap');


        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            /* background-color: aliceblue; */
        }
        body{
            height: 100vh;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(rgb(167, 167, 167), rgb(204, 174, 119));
        }
        
        .total {
            width: 100%;
            height: fit-content;
            position: relative;
            text-align: center;
            /* top: 200px; */
            font-family: 'Shantell Sans', cursive;
            font-family: 'Ubuntu', sans-serif;
        }

        button {
            background-color: rgb(93, 234, 93);
            width: 150px;
            border: 2px solid black;
            border-radius: 10px;
            cursor: pointer;

        }

        button:hover {
            background-color: rgb(51, 169, 51);
        }

        #myWords {
            background-color: antiquewhite;
            border: 2px solid black;
            border-radius: 10px;
            width: 500px;
            padding: 5px;
        }

        @media only screen and (max-width: 500px) {
            #myWords{
                width: 280px;
            }
        }
